html {
    height: 100%;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: blanchedalmond;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background: linear-gradient(#B9D6F2,#061A40);
    text-align: center;
    padding: 10px;
}

main {
    background-color: #0353A4;
    border-radius:;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    font-size: large;
    line-height: 3;
    border: 10px solid #061A40;
    padding: 20px;
    flex: 1;
}

footer {
    background: linear-gradient(#061A40,#B9D6F2);
    text-align: center;
    padding: 10px;
    height: 10%;
}